# --- PERFORMANCE ---
# Utilise 3 cœurs de processeur pour compiler plus vite
-T3

# --- SÉCURITÉ ET MISES À JOUR ---
# Force Maven à vérifier si les bibliothèques (dépendances) ont des mises à jour
-U

# --- GESTION DES ERREURS ---
# Si un module échoue, continue les autres et donne le rapport à la fin
--fail-at-end